$hamburger-padding-x                       : 0 !default;
$hamburger-padding-y                       : 0 !default;
$hamburger-layer-width                     : 30px !default;
$hamburger-layer-height                    : 2px !default;
$hamburger-layer-spacing                   : 7px !default;
$hamburger-layer-color                     : #000 !default;
$hamburger-layer-border-radius             : 4px !default;
$hamburger-hover-opacity                   : 0.7 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter    : opacity(50%) !default;

.style-nav {
  transition: background 0.3s $hamburger-hover-transition-timing-function;
  height: 70px;
  position: relative;
  z-index: 10;
  overflow: hidden;

  &__inner {
    @include grid-row;
    @include g-unit(padding, 0.5);
    position: relative;
  }

  &__logo {
    svg {
      fill: get-colour('tertiary');
      width: 100px;
      transition: fill 0.3s ease;
    }
  }
  &__burger {
    @include g-unit(padding-top, 0.15);
    float: right;
    display: inline-block;
    cursor: pointer;
    outline: none;
    transition-property: opacity, filter;
    transition-duration: $hamburger-hover-transition-duration;
    transition-timing-function: $hamburger-hover-transition-timing-function;

    // Normalize (<button>)
    font: inherit;
    color: inherit;
    text-transform: none;
    border: 0;
    margin: 0;
    overflow: visible;

    .show-menu & {
      &-inner {
        $y-offset: $hamburger-layer-spacing + $hamburger-layer-height;

        transform: translate3d(0, $y-offset, 0) rotate(-45deg);

        &::before {
          transform: rotate(45deg) translate3d($hamburger-layer-width / 7, $hamburger-layer-spacing * -1, 0);
          opacity: 0;
        }

        &::after {
          transform: translate3d(0, $y-offset * -2, 0) rotate(90deg);
        }
      }
    }

    &:hover {
      @if $hamburger-hover-use-filter == true {
        filter: $hamburger-hover-filter;
      }
      @else {
        opacity: $hamburger-hover-opacity;
      }
    }

    &-box {
      width: $hamburger-layer-width;
      height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
      display: inline-block;
      position: relative;
    }

    &-inner {
      display: block;
      top: $hamburger-layer-height / 2;
      margin-top: $hamburger-layer-height / -2;

      &,
      &::before,
      &::after {
        width: $hamburger-layer-width;
        height: $hamburger-layer-height;
        background-color: $hamburger-layer-color;
        border-radius: $hamburger-layer-border-radius;
        position: absolute;
        transition-property: transform, background;
        transition-duration: 0.15s;
        transition-timing-function: ease;

        .show-menu & {
          background-color: white;
        }
      }

      &::before,
      &::after {
        content: "";
        display: block;
      }

      &::before {
        top: $hamburger-layer-height + $hamburger-layer-spacing;
        transition-property: transform, opacity;
        transition-timing-function: ease;
        transition-duration: 0.2s;
      }

      &::after {
        bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
        top: ($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
      }
    }
  }

  &__links {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    list-style: none;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding: 0;
    @include g-unit('padding-top', 1);

    .show-menu & {
      visibility: visible;
      opacity: 1;
    }

    @include breakpoint(xlarge) {
      @include g-unit('padding-top', 2);
    }
  }
  &__link {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    @include g-unit('padding-bottom', 2);
    font-size: 30px;
    letter-spacing: 3px;

    a {
      text-decoration: none;
      color: inherit;
      transition: color 0.3s ease;
      &:hover {
        color: get-colour('primary');
      }
    }

    @include breakpoint(xlarge) {
      font-size: 50px;
    }
  }

  .show-menu & {
    background-color: get-colour('tertiary');
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    svg {
      fill: white;
    }
  }
}
