$hamburger-layer-width: 30px;
$hamburger-layer-height: 1px;
$hamburger-layer-spacing: 7px;
$hamburger-layer-color: #000;
$hamburger-layer-border-radius: 4px;

.style-nav {
  transition: height $transitionTime $transitionEase, background-color $transitionTime $transitionEase;
  height: 70px;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  top: 0;
  width: 100%;

  &__inner {
    @include grid-row;
    @include g-unit(padding, 0.5);
    position: relative;
  }

  &__logo {
    svg {
      fill: get-colour('tertiary');
      width: 100px;
      transition: fill $transitionTime $transitionEase;
    }
  }

  &__burger {
    @include g-unit(padding-top, 0.15);
    float: right;
    display: inline-block;
    cursor: pointer;
    outline: none;
    transition-property: opacity, filter;
    transition-duration: $transitionTime;
    transition-timing-function: $transitionEase;

    // Normalize (<button>)
    font: inherit;
    color: inherit;
    text-transform: none;
    border: 0;
    margin: 0;
    overflow: visible;

    .show-menu & {
      &-inner {
        $y-offset: $hamburger-layer-spacing + $hamburger-layer-height;

        transform: translate3d(0, $y-offset, 0) rotate(-45deg);

        &::before {
          transform: rotate(45deg) translate3d($hamburger-layer-width / 7, $hamburger-layer-spacing * -1, 0);
          opacity: 0;
        }

        &::after {
          transform: translate3d(0, $y-offset * -2, 0) rotate(90deg);
        }
      }
    }


    &-box {
      width: $hamburger-layer-width;
      height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
      display: inline-block;
      position: relative;
    }

    &-inner {
      display: block;
      top: $hamburger-layer-height / 2;
      margin-top: $hamburger-layer-height / -2;

      &,
      &::before,
      &::after {
        width: $hamburger-layer-width;
        height: $hamburger-layer-height;
        background-color: $hamburger-layer-color;
        border-radius: $hamburger-layer-border-radius;
        position: absolute;
        transition-property: transform, background;
        transition-duration: 0.15s;
        transition-timing-function: $transitionEase;

        .show-menu & {
          background-color: #fff;
        }
      }

      &::before,
      &::after {
        content: '';
        display: block !important;
      }

      &::before {
        top: $hamburger-layer-height + $hamburger-layer-spacing;
        transition-property: transform, opacity;
        transition-timing-function: $transitionEase;
        transition-duration: 0.2s;
      }

      &::after {
        bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
        top: ($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    list-style: none;
    left: 0;
    text-align: center;
    width: 100%;
    height: calc(100vh - 70px);
    top: 70px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    transition: opacity $transitionTime $transitionEase;

    .show-menu & {
      visibility: visible;
      opacity: 1;
    }
  }

  &__link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 3vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background $transitionTime $transitionEase, font $transitionTime $transitionEase, letter-spacing $transitionTime $transitionEase;

    &:hover {
      background-color: #fff;
      color: get-colour('tertiary');
      font-weight: 800 !important;
      letter-spacing: 0.5vw;
    }

    a {
      transition: color $transitionTime $transitionEase;
      text-decoration: none;
      color: inherit;
    }

    @include breakpoint(xlarge) {
      font-size: 50px;
    }
  }

  .show-menu & {
    background-color: rgba(get-colour('tertiary'), 0.9);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    &__logo,
    &__burger {
      position: relative;
      z-index: 10;
    }

    svg {
      fill: #fff;
    }
  }
}
