---
layout: styleguide
title: Colours
---

<div class="colours">
  <div class="row">
    <div class="small-12 columns">
      <h3>Primary</h3>
    </div>
    <div class="small-4 columns">
      <div class="colours-item -bg-primary">
        <p>
          #273043
        </p>
      </div>
    </div>
    <div class="small-4 columns">
      <div class="colours-item -bg-primary-dark">
        <p>
          #4E5565
        </p>
      </div>
    </div>
    <div class="small-4 columns">
      <div class="colours-item -bg-primary-light">
        <p>
          #1D2331
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h3>Secondary</h3>
    </div>
    <div class="small-4 columns">
      <div class="colours-item -bg-secondary">
        <p>
          #4AC9C7
        </p>
      </div>
    </div>
    <div class="small-4 columns">
      <div class="colours-item -bg-secondary-dark">
        <p>
          #8BDCDB
        </p>
      </div>
    </div>
    <div class="small-4 columns">
      <div class="colours-item -bg-secondary-light">
        <p>
          #369391
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h3>Tertiary</h3>
    </div>
    <div class="small-4 columns">
      <div class="colours-item -bg-tertiary">
        <p>
          #C2401D
        </p>
      </div>
    </div>
    <div class="small-4 columns">
      <div class="colours-item -bg-tertiary-dark">
        <p>
          #F06D4B
        </p>
      </div>
    </div>
    <div class="small-4 columns">
      <div class="colours-item -bg-tertiary-light">
        <p>
          #822A14
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h3>Accent</h3>
    </div>
    <div class="small-4 columns">
      <div class="colours-item -bg-accent">
        <p>
          #FFDA61
        </p>
      </div>
    </div>
    <div class="small-4 columns">
      <div class="colours-item -bg-accent-dark">
        <p>
          #FFE284
        </p>
      </div>
    </div>
    <div class="small-4 columns">
      <div class="colours-item -bg-accent-light">
        <p>
          #E8BF3A
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h3>Background</h3>
    </div>
    <div class="small-4 columns">
      <div class="colours-item -bg-back">
        <p>
          #DDDDDD
        </p>
      </div>
    </div>
    <div class="small-4 columns">
      <div class="colours-item -bg-back-dark">
        <p>
          #EEEEEE
        </p>
      </div>
    </div>
    <div class="small-4 columns">
      <div class="colours-item -bg-back-light">
        <p>
          #CCCCCC
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h3>Foreground</h3>
    </div>
    <div class="small-4 columns">
      <div class="colours-item -bg-fore">
        <p>
          #191919
        </p>
      </div>
    </div>
    <div class="small-4 columns">
      <div class="colours-item -bg-fore-dark">
        <p>
          #333333
        </p>
      </div>
    </div>
    <div class="small-4 columns">
      <div class="colours-item -bg-fore-light">
        <p>
          #111111
        </p>
      </div>
    </div>
  </div>
</div>
