---
layout: styleguide
title: Styleguide
layoutClass: home
---

<div class="row">
  <div class="medium-8 large-6 small-centered columns">
    <h4>Introduction</h4>
    <p>Welcome to the isobar boilerplate project.</p>
    <p>Forking this repo gets you up and running with a new project quickly and lets you
    leverage some neat tools that we hope you find useful.</p>
    <p>The directory structure is opinionated, and makes some assumptions for you on how things should be organised, this simplified
      how most projects usualy run and is quite flexible. If you would like to set things up differently, free to change these as you see fit, but please make sure that
    these are reflected and updated in the styleguide too.</p>
    <p>This project comes bundled with a few base atoms and some examples of how you create more complex components, where their HTML/SCSS/JS live and
    how you can incorporate these in the styleguide.</p>
  </div>

  <div class="medium-8 large-6 small-centered columns">
    <h4>Atoms</h4>
    <p>These are the base building blocks of most HTML pages. They are simple single tag items, possibly two as in the case of a form input with a label, but nothing more complex.</p>
    <p>Things more abstract such as a colour and a grid entry are also classified here as atomic.</p>
    <p>Herea are the pre-made ones in this project.</p>
    <ul>
      <li><a href="/styleguide/atoms/grid.html">Grid</a></li>
      <li><a href="/styleguide/atoms/colours.html">Colours</a></li>
      <li><a href="/styleguide/atoms/typography.html">Typography</a></li>
      <li><a href="/styleguide/atoms/buttons.html">Buttons</a></li>
      <li><a href="/styleguide/atoms/forms.html">Forms</a></li>
    </ul>
  </div>

  <div class="medium-8 large-6 small-centered columns">
    <h4>Molecules</h4>
    <p>The next level in the complexity chain, comes molecules. These are for items composed of two or more atomic tags, but that are still simple in conception and have no JS interactivity.
    Examples of these could be a simple navigation, a specific form, a grid of image links.</p>
    <ul>
      <li>//TODO</li>
    </ul>
  </div>

  <div class="medium-8 large-6 small-centered columns">
    <h4>Components</h4>
    <p>This label is reserved for the more complex items you will be creating. Anything with significant JS requirements and more thorough HTML items should be created as a component. Examples are a carousel, navigation with states, modals, maps etc.</p>
    <ul>
      <li>//TODO</li>
    </ul>
  </div>

  <div class="medium-8 large-6 small-centered columns">
    <h4>Templates</h4>
    <p>As this is a handlebars powered projects, why not leverage it to build your templates using the above atoms, molecules and components?</p>
    <p>These can be tied with the JSON files in the data section to make copy changes and template updates a breeze.</p>
    <p>Here is an example of such</p>
    <ul>
      <li><a href="/styleguide/templates/campaign.html">Campaign</a></li>
    </ul>
  </div>
</div>
