---
layout: styleguide
title: Styleguide
---

<div class="row">
  <div class="medium-6 small-centered columns">
    <h4>Introduction</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore suscipit repellat ipsum tenetur quidem iste nesciunt reiciendis officiis facilis, eius maiores cum voluptate a aperiam perspiciatis. Asperiores quas sit cumque ratione necessitatibus consequatur eum excepturi eos quo, nam at sunt?</p>
  </div>

  <div class="medium-6 small-centered columns">
    <h4>Atoms</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ea nihil maiores, eaque! Sit commodi, animi cupiditate, cum odit quo!</p>
    <ul>
      <li>Grid</li>
      <li>Colours</li>
      <li>Typography</li>
      <li>Buttons</li>
      <li>Forms</li>
    </ul>
  </div>

  <div class="medium-6 small-centered columns">
    <h4>Prototypes</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ea nihil maiores, eaque! Sit commodi, animi cupiditate, cum odit quo!</p>
    <ul>
      <li><a href="/styleguide/templates/campaign.html">Campaign</a></li>
    </ul>
  </div>
</div>
