<!doctype html>
<html class="no-js" lang="en-au">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{content.meta.title}}</title>
    <meta name="description" content="{{content.meta.description}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:url" content="{{content.meta.url}}" />
    <meta property="og:type" content="{{content.meta.type}}" />
    <meta property="og:title" content="{{content.meta.title}}" />
    <meta property="og:description" content="{{content.meta.description}}" />
    <meta property="og:image" content="{{content.meta.image}}" />

    <link rel="stylesheet" href="/css/main.css?v={{cache-bust}}">

    <link rel="icon" type="image/png" href="favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','ADD_ACCOUNT_TAG_HERE');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body>

    <div class="container">
      {{> body}}
    </div>

    <script src="/js/vendor.js?v={{cache-bust}}"></script>
    <script src="/js/main.js?v={{cache-bust}}"></script>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TB5H97X"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
