@import "neat-helpers"; // or "neat-helpers" when in Rails

//// Break Point Sizes ////////
$mobile:             480px;
$tablet:             481px;
$desktop:            1020px;
$large:              1600px;

//// Change the grid settings ////////
$column: 100px;
$gutter: 10px;
$grid-columns: 12;
$max-width: 1200px;

// // Define your breakpoints
$large: new-breakpoint(min-width $large);
$desktop: new-breakpoint(min-width $desktop);
$tablet: new-breakpoint(min-width $tablet);
$mobile: new-breakpoint(max-width $mobile);
