@mixin circle($circleSize){
  width: $circleSize;
  height: $circleSize;
  border-radius: 100%;
}

@mixin pulseIcon ($circleSize, $innerColor, $pulseColor) {
  @include circle($circleSize/1.2);
  background: $innerColor;
  position: relative;
  display: block;
  &:before,
  &:after{
    @include circle($circleSize);
    content: '';
    display: block;
    border: 1px solid $pulseColor;
    background-color: transparent;
    position: absolute;
    top: -10%;
    left: -10%;
    margin-left: -1px;
    margin-top: -1px;
    // transform: scale(0.5);
    transform-origin: center center;
    animation: pulse-me 3s linear infinite;
  }
  &:after{
    animation-delay: 2s;
  }
}

@mixin svg-cta () {
  display: block;
  width: 220px;
  margin: 40px auto;
  text-align: center;
  height: 60px;
  position: relative;
  img {
    width: 100%;
    opacity: 1;
    transition: opacity 1s ease;
    display: block;
    position: absolute;
  }

  .hover {
    opacity: 0;
  }

  &:hover {
    .base {
      opacity: 0;
    }
    .hover {
      opacity: 1;
    }
  }
}

@mixin spinner ($color, $background) {
  &,
  &:before,
  &:after {
    border-radius: 50%;
  }
  & {
    color: $color;
    font-size: 11px;
    text-indent: -99999em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 6em;
    height: 6em;
    box-shadow: inset 0 0 0 1em;
    transform: translateZ(0);
  }
  &:before,
  &:after {
    position: absolute;
    content: '';
    width: 3.2em;
    height: 6.2em;
  }
  &:before {
    background: $background;
    border-radius: 6.2em 0 0 6.2em;
    top: -0.1em;
    left: -0.1em;
    transform-origin: 3.2em 3.1em;
    animation: loader 2s infinite ease .5s;
  }
  &:after {
    background: $background;
    border-radius: 0 6.2em 6.2em 0;
    top: -0.1em;
    left: 3.1em;
    transform-origin: 0px 3.1em;
    animation: loader 2s infinite ease;
  }
}


// Example use:
// @include respond(desktop) {
//   .example {
//     color: red;
//   }
// }
@mixin respond($breakpoint) {


  @if $breakpoint == small {
    @media screen and (max-width: $bp-small) {
      @content;
    }
  }

  @if $breakpoint == medium {
    @media screen and (min-width: $bp-small) {
      @content;
    }
  }

  @if $breakpoint == large {
    @media screen and (min-width: $bp-medium) {
      @content;
    }
  }

  @if $breakpoint == xlarge {
    @media screen and (min-width: $bp-large) {
      @content;
    }
  }

  @if $breakpoint == mobile-portrait {
    @media screen and (max-width: $bp-phablet) and (orientation: portrait) {
      @content;
    }
  }


  @if $breakpoint == mobile-landscape {
    @media screen and (max-width: $bp-phablet) and (orientation: landscape) {
      @content;
    }
  }


  @if $breakpoint == phablet-landscape {
    @media screen and (min-width: 600px) and (max-width: $bp-phablet) and (orientation: landscape) {
      @content;
    }
  }

  @if $breakpoint == tablet-portrait {
    @media screen and (max-width: $bp-medium) and (orientation: portrait) {
      @content;
    }
  }

  @if $breakpoint == tablet-landscape {
    @media screen and (max-width: $bp-large) and (orientation: landscape) {
      @content;
    }
  }

  //
  // @if $breakpoint == mobile-landscape {
  //   @media only screen and (min-width: $mobile + 1) {
  //     @content;
  //   }
  // }
  //
  // @if $breakpoint == mobile-portrait {
  //   @media only screen and (max-width: $mobile) {
  //     @content;
  //   }
  // }
  //
  // @if $breakpoint == tablet {
  //   @media only screen and (min-width: $tablet-portrait) {
  //     @content;
  //   }
  // }
  //
  // @if $breakpoint == tablet-portrait {
  //   @media only screen and (min-device-width: $tablet-portrait) and (max-device-width: $tablet-landscape) and (orientation: portrait) {
  //     @content;
  //   }
  // }
  //
  // @if $breakpoint == tablet-landscape {
  //   @media only screen and (min-width: $tablet-landscape) and (max-width: $desktop){
  //     @content;
  //   }
  // }
  //
  // @if $breakpoint == desktop {
  //   @media only screen and (min-width: $desktop) {
  //     @content;
  //   }
  // }
}
