//// Colours  ////////
$colour-key: 'base' !default;

$colours: (
  'primary': (
    'base': #273043,
    'light': #4E5565,
    'dark': #1D2331
  ),
  'secondary': (
    'base': #4AC9C7,
    'light': #8BDCDB,
    'dark': #369391
  ),
  'tertiary': (
    'base': #f74902,
    'light': #F98B5E,
    'dark': #9E2F02
  ),
  'accent': (
    'base': #FFDA61,
    'light': #FFE284,
    'dark': #E8BF3A
  ),
  'fore': (
    'base': #191919,
    'light': #333,
    'dark': #111
  ),
  'back': (
    'base': #DDD,
    'light': #EEE,
    'dark': #CCC
  )
);

$colour-opacity: (
  'light': 0.8, // opacity used with lighter colors
  'dark': 0.4,  // opacity used with darker colors
);

//// Fonts  ////////
$openSans:           'Open Sans', sans-serif;
$gentiumBook:        'Gentium Book Basic', serif;
$bodyFont:           $openSans;
$headerFont:         $openSans;
$menuFont:           $gentiumBook;
$headerLineHeight:   1.2;
$bodyLineHeight:     1.5;
$header-sizes: (
  small: (
    'h1': 38px,
    'h2': 28px,
    'h3': 28px,
    'h4': 16px,
    'h5': 20px,
    'h6': 18px
  ),
  medium: (
    'h1': 48px,
    'h2': 38px,
    'h3': 34px,
    'h4': 26px,
    'h5': 24px,
    'h6': 20px
  ),
  large: (
    'h1': 70px,
    'h2': 48px,
    'h3': 38px,
    'h4': 32px,
    'h5': 26px,
    'h6': 22px
  ),
);

//// Buttons  ////////
$button-padding: (
  small: 10px 15px,
  default: 15px 20px,
  large: 20px 30px,
  xlarge: 20px 40px
);

$button-sizes: (
  small: 12px,
  default: 16px,
  large: 20px,
  xlarge: 24px,
);

//// Forms  ////////
$inputPadding: 10px;

//// Transitions  ////////
$transitionTime:  0.3s;
$transitionEase:  ease;
