//// Break Point Sizes ////////
$bp-small:           440px;
$bp-phablet:         760px;
$bp-medium:          1020px;
$bp-large:           1200px;
$bp-xlarge:          1600px;


//// Colours  ////////
$locations:          #13B8D7;
$culture:            #E9464C;
$nature:             #51BBB4;
$food:               #F8C630;
$darkBlue:           #354d51;

//// Fonts  ////////
$fontNantes:         'NantesWeb';
$fontKarla:          'Karla', sans-serif;

//// Sizing  ////////
$mobileMinHeight:    320px;
