//// Colours  ////////
$cyan:               #13B8D7;
$red:                #E9464C;
$lilipod:            #51BBB4;
$yellow:             #F8C630;
$darkBlue:           #354d51;

$c1:                 #E9464C;
$c2:                 #13B8D7;
$c3:                 #51BBB4;
$c4:                 #F8C630;
$c5:                 #354d51;

//// Fonts  ////////
$fontNantes:         'NantesWeb';
$fontKarla:          'Karla', sans-serif;

//// Sizing  ////////
$mobileMinHeight:    320px;
