h1, h2, h3, h4, h5 {
  font-family:'NantesWeb';
  font-weight: 400;
  line-height: 1;
  margin: 20px 0;
}

h3 {
  font-size: 28px;
}
h4 {
  font-size: 20px;
}
p, strong, span, ul, ol, a {
  font-family: 'Karla', sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}
strong {
  font-weight: 600;
}
