@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: $bodyLineHeight;
  margin: 0;
}

@each $breakpoint, $levels in $header-sizes {
  @include breakpoint($breakpoint) {
    @each $level, $size in $levels {
      #{$level} {
        font-size: $size;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headerFont;
  font-weight: 700;
  line-height: $headerLineHeight;
  margin: 20px 0;
}

strong {
  font-weight: 600;
}
