@import "main";
@import "molecules/style-nav";

[class^='grid-col-'], [class*=' -col-'] {
  background-color: rgba(0,0,0,0.1);
  padding: 20px 0
}

.show-menu .container{
  overflow: hidden;
  padding-top: 70px;
}

.grid-guide {
  & > div {
    @include g-unit(padding-top, 1);
    @include g-unit(padding-bottom, 1);
  }
  .row {
    background-color: get-colour('back', 'light');
    @include g-unit(padding, 0.5);
    @include g-unit(padding, 0.5);

    @include breakpoint(large) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .columns {
    text-align: center;
    position: relative;
    @include g-unit(margin-top, 0.5);
    @include g-unit(margin-bottom, 0.5);
    // border-color: red;
    // border-style: solid;

    & > div {
      background-color: get-colour('back');
      padding: 40px 0;
    }
    background-color: get-colour('secondary');


    &:before,
    &:after {
      content: '';
      font-size: 10px;
      text-transform: uppercase;
      display: block;
      width: 100%;
      position: absolute;
      @include g-unit(height, 0.5);
      left: 0;
      opacity: 0.15;
      // border: 1px solid rgba(255,255,255,0.3);

    }
    &:before {
      top: 0;
      @include g-unit(margin-top, -0.5);
      background-color: get-colour('secondary', 'dark');
    }
    &:after {
      bottom: 0;
      background-color: get-colour('secondary', 'dark');

      @include g-unit(margin-bottom, -0.5);
    }

    &:nth-child(odd) {
      background-color: get-colour('accent');
      &:before {
        background-color: get-colour('accent', 'dark');
      }
      &:after {
        background-color: get-colour('accent', 'dark');
      }
    }
  }
}
.colours {
  &-item {
    padding: 70px 0;
    color: white;
    text-align: center;
  }
  .row {
    @include space-unit(margin-bottom, 2);

  }
}
.u-tc {
  text-align: center;
}

.buttons-item {
  @include space-unit(margin-bottom, 2);
}

.style-title {
  &__h1 {
    text-align: center;
    font-size: 34px;
    @include space-unit(margin-bottom, 2);
    text-transform: uppercase;
    font-weight: 600;
  }
  &__h4 {
    text-align: center;
    font-size: 24px;
    @include space-unit(margin-bottom, 2);
    text-transform: uppercase;
    font-weight: 600;
  }
}
.campaign {
  .style-nav {
    position: fixed;
    width: 100%;
  }
  .show-menu & {
    padding-top: 0;
  }
  .row {
    @include space-unit(padding, 1);
  }

}
